<div class="mat-dialog-title" style="width: 100%;color: rgb(160, 175, 160); border-radius: 5px;">
    <h6>
        {{title}}
    </h6>    
</div>

<hr>
<div mat-dialog-content>
    <p>{{message}}</p>
</div>
 <br>   
<div mat-dialog-actions class="row" style="width: 100%;">
        <div class="col-6 ">
            <button mat-raised-button  (click)="onDismiss()">No</button>
        </div>
        <div class="col-6" >
            <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
        </div>
</div>

